.slider {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vw;
	z-index: -1;
}

.slider__line {
	position: relative;
	height: 100vh;
	width: 300vw;
	display: flex;
}

.slider__images {
	width: 100%;
	object-fit: cover;
}

.hero {
	margin-top: calc(100vh - 109px - 369px);
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.hero__wrapper {
	grid-column: 2 / 3;
	display: grid;
	align-items: space-between;
	justify-items: start;
	width: 624px;
	height: 369px;
	padding: 70px;
	background-color: var(--color-yellow-200);
	clip-path: polygon(30px 0,100% 0,100% calc(100% - 30px), calc(100% - 30px) 100%,0 100%,0 30px);
}

.hero__button {
	color: #F8F200;
	text-align: center;
	padding: 19px 50px;
	border: 3px transparent solid;
	font-size: 1.5rem;
	font-weight: 700;
	background-color: var(--color-black);
	transition: .2s;
}

.hero__button:hover {
	background-color: var(--color-yellow-200);
	color: var(--color-black);
	border-color: var(--color-black);
}

.hero__button:active {
	border-color: transparent;
}

.nightsisty {
	padding-top: 70px;
}

.nightsisty__wrapper {
	margin-top: 70px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

.nightsisty__images {
	clip-path: polygon(30px 0,100% 0,100% calc(100% - 30px), calc(100% - 30px) 100%,0 100%,0 30px);
}

.nightsisty__images:nth-child(2) {
	align-self: flex-end;
}

.nightsisty__images:last-child {
	grid-row: 1 / 3;
	grid-column: 2 / 3;
}

.draw {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 50px 0;
	background-color: var(--color-black);
	position: relative;
	margin-top: 70px;
	padding-top: 85px;
	padding-bottom: 70px;
	min-height: 814px;
}

.draw__ripple {
	position: absolute;
	width: 100vw;
	max-height: 70px;
}

.draw__ripple:first-child {
	top: 0;
	left: 0;
}

.draw__ripple:last-child {
	top: 100%;
	left: 0;
}

.draw__wrapper {
	grid-column: 1 / 3;
}

.draw__title {
	color: var(--color-white);
}

.draw__form-wrapper{
	max-width: 460px;
}

.draw__form {
	display: grid;
	grid-template-rows: repeat(5, auto);
	justify-items: start;
	align-items: center;
	height: 100%;
}

.draw__input-text {
	position: relative;
	width: 100%;
}

.draw__input-text input{
	color: var(--color-white);
	background-color: transparent;
	width: 105%;
	font-family: Roboto;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
}	

.draw__input-text::before {
	content: '';
	position: absolute;
	top: 150%;
	width: 100%;
	height: 1px;
	background-color: var(--coolor-gray);
}

.draw__file {
	width: 460px;
	height: 120px;
	display: none;
}

.input__wrapper {
	width: 100%;
	position: relative;
	margin: 15px 0;
	text-align: center;
	border: 2px dashed #777;
	
  }
   
.input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
}

.input__file-button-text {
	height: 120px;
	padding-top: 9%;
	margin-top: 1px;
	color: #FFF;
	font-family: Roboto;
	font-size: 1.125rem;
	font-weight: 300;
	text-decoration-line: underline;
}

.input__file-text {
	font-size: 0.75rem;
	text-decoration-line: none;
}

.draw__button {
	background-color: var(--color-yellow-200);
	color: var(--color-black);
	font-family: Roboto;
	border: 3px transparent solid;
	font-size: 1.125rem;
	line-height: 1.125rem;
	font-weight: 700;
	transition: .2s;
}

.draw__button:hover {
	background-color: var(--color-black);
	color: var(--color-yellow-200);
	border-color: var(--color-yellow-200);
}

.draw__button:active {
	border-color: transparent;
}

.draw__checkbox {
	color: #FFF;
	font-family: Roboto;
	font-size: 0.75rem;
	font-weight: 300;
	display: flex;
}

.draw__checkbox-arrow {
	margin-right: 10px;
}

.draw__images {
position: relative;
}

.draw__ps-5 {
	position: absolute;
	right: 300px;
}

.draw__x-box {
	position: absolute;
	left: 0;
}
.draw__image_x-box {
	position: absolute;
	max-width: 296px;	
	z-index: 2;
}

.draw__blot_x-box {
	position: absolute;
	z-index: 1;
	left: -160px;
	top: -20px;
}

.draw__image_ps-5 {
	position: absolute;
	max-width: 296px;	
	z-index: 2;
}

.draw__blot_ps-5 {
	position: absolute;
	z-index: 1;
	left: -160px;
	top: -20px;
}

.collaboration {
	display: grid;
	grid-auto-flow: column;
	gap: 0 30px;
	min-height: 676px;
	padding-top: 140px;
	padding-bottom: 70px;
	background-color: var(--color-yellow-200);
}

.collaboration__image {
	max-width: 624px;
}

.collaboration__wrapper {
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	margin-top: 26px;
}

.collaboration__text {
	color: var(--color-black);
}

.collaboration__advantages {
	margin-top: 18px;
	display: flex;
	align-items: center;
}

.collaboration__advantages:first-child {
	margin-top: 12px;
}

.collaboration__icons {
	margin-right: 10px;
}

.collaboration__text-li  {
	margin-top: 0;
	line-height: 1.125rem;
	color: var(--color-black);
}

.collaboration__button {
	margin-top: 45px;
	color: var(--color-yellow-200);
	background-color: var(--color-black);
	font-size: 1.125rem;
	line-height: 1.125rem;
	font-weight: 700;
	border: 3px solid var(--color-black);
	transition: .2s;
	}

.collaboration__button:hover {
	background-color: var(--color-yellow-200);
	color: var(--color-black);
}

.collaboration__button:active {
	border-color: transparent;
}
